//-------色彩變數---------//
$primary:rgba(207,115,64,1);
$primary-trnsparent:rgba(207,115,64, 0.8);
$secondary :#F7EF99;

@import "../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
//-------模組化-----------//
@import "progress-steps";
@import "item-box";

//-------index-----------//
.header-banner{
    height: 500px;
}
.bg-cover{
    background-size: cover;
    background-position: center center;
}
.mobile-cart{
    color: $primary-trnsparent;
}
.carts-input-group{
    width: 150px !important;
    button{
        width: 44px !important;
    }
}
.header-menu{
    margin-top: -90px;
    font-size: 24px;
    letter-spacing: 0.25rem;
    cursor: pointer;
    a{
        color: $primary-trnsparent;
        text-decoration: none;
        .header-menu-bg{
            backdrop-filter: blur(5px);
            height: 256px;
            background-color: $secondary;
            transition: all 1s;
        }
        .active{
            backdrop-filter: blur(0px);
            background-color: $primary-trnsparent ;
            color:white;
        } 
    }
    a:hover{
        .header-menu-bg{
            backdrop-filter: blur(0px);
            background-color: $primary-trnsparent;
            color:white;
        }
    }
}
.banner-text{
    height: 17.5rem;
    writing-mode: vertical-rl;
    letter-spacing: 0.5rem;
}
.word-colum{
    writing-mode: vertical-rl;
}
.banner-img{
    height: 100%;
}
.text-title{
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin-top: -20px;
}
//--------product----------//
.list-group-item-action{
    transition: all.5s;
}
//--------cart------------//
.cart-item{ 
    .cart-img{
        height: 100px;
        width: 100%;
    }
    .cart-border{
        border: none;
    }
}
//--------checkout--------//
.form-control-input{
    height: 3.5rem;
    padding-left: 20px;
    font-size: 1.25rem;
}
//--------RWD-------------//
@media(max-width:992px){
    .banner-text{
        height: 17.5rem;
        writing-mode: horizontal-tb;
    }
}
@media (max-width:768px) {
    .banner-img{
        height: 300px;
    }
    .header-banner{
        height: 400px;
    }
    .header-menu{
        margin-top: 0px;
    }
    .cart-item{
        .cart-border{
            border-top: 1px rgba(0, 0, 0, 0.125) solid;
            border-bottom: 1px rgba(0, 0, 0, 0.125) solid;
        }
    }
    
}
